/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --hue: 240;
  --first-color: hsl(var(--hue), 16%, 18%);
  --first-color-alt: hsl(var(--hue), 16%, 12%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== z index ==========*/
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

 *{font-family: 'Poppins', sans-serif;}
        
  .seed-phrase-container {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      justify-content: center;
  }
  .seed-phrase-item {
      display: flex;
      align-items: center;
      background: #efefef;
      padding: 3px 4px;
      border-radius: 16px;
      border: 1px solid #ccc;
      width: 28.5%;
  }


  .seed-phrase-item label {
      margin-right: 5px;
      font-size: 14px;
      /*background: #aca5a5;*/
      color: #000;
      width: 25px;
      text-align: center;
      padding: 5px 0px;
      border-radius: 17px;
  }
  .seed-phrase-item input {
      width: 100%; /* Make the input wider */
      border: 0;
      background: #efefef;
      text-align: left;
      font-weight: 400;
      padding: 5px;
      font-size: 13px;
      outline: none;
      color: #1c1c1c;
  }


  /* Placeholder styling */
  .seed-phrase-item input::placeholder {
      color: gray;
      font-size: 12px;
      opacity: 1; /* Ensure the placeholder is visible */
  }

  .seed-phrase-item input:focus {
      outline: none;
      border: 1px solid #ccc; /* Add your preferred color */
      border-radius: 17px;
  }

  .buttons-container {
      margin-bottom: 20px;
  }
  .buttons-container button {
      padding: 10px 20px;
      font-size: 16px;
      margin-right: 10px;
      cursor: pointer;
  }
   /* Basic styling for the modal background */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      background-color: hsla(var(--hue), 18%, 75%, .8); /* Semi-transparent background */
      overflow: hidden; /* Prevent scrolling */
      transition: all 0.3s ease; /* Smooth transition */
  }

  /* Modal Content */
  .modal-content {
      background-color: #fff;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      border-radius: 20px 20px 0 0; /* Rounded top corners */
      position: relative;
      bottom: 0;
  }

  /* Close Button */
  .close {
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
  }

  /* For mobile: Keep modal fixed at the bottom */
  @media (max-width: 768px) {
      .modal-content {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 20px 20px 0 0 !important; /* Rounded top corners */
          transform: none; /* No sliding effect */
      }
  }

  /* For large screens (laptops): Center the modal */
  @media (min-width: 769px) {
      .modal-content {
          top: 20%; /* Center the modal vertically */
          border-radius: 20px !important; /* Rounded top corners */
          transform: none; /* No sliding animation */
      }
  }

r {display: block; background: #f1f1f1; padding: 9px 13px; border-radius: 8px; margin-bottom: 6px; text-align: left; font-size: 16px; border-left: 0px solid;}

.web3-modal-title {
    color: #000 !important;
}

.web3-modal .item span {
    color: #000 !important;
}

.web3-modal {
    background: #fff !important;
    color: #000 !important;
        border-radius: 1.25rem !important;
}

.swal2-popup {
    background: #fff !important;
    color: #000 !important;
    border-radius: 1.25rem;
}

.web3-modal .item:hover {
    background: #efefef !important;
    border-radius: inherit !important;
}

.web3-modal .item .arrow {
     -webkit-filter: invert(0) !important; 
     filter: invert(0) !important; 
    color: #000 !important;
    margin-top: 15px !important;
}

.swal2-container.swal2-center>.swal2-popup {
  border-radius: 1.25rem !important;
}


@media all and (max-width: 600px) and (orientation:landscape) 
{
  .web3-modal, .web3-overlay {
    position: fixed;
    bottom: 0 !important;
    top: unset !important;
    left: 0;
    width: 100%;
  }
  
}


.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: hsla(var(--hue), 18%, 75%, .8) !important; 
}


.modal{
  height: 100vh;
  display: none;
  place-items: center;
}

.modal__button{
 display: inline-block;
    background-color: #ededed;
    color: #000000;
    padding: 1rem 1.25rem;
    border-radius: 17px;
    transition: .3s;
    margin: 3px 0px;
    text-align: left;
    font-weight: 400;
    cursor: pointer; border: none; outline: none;
}

.modal__button:hover{
  border: 1px solid #ccc;
  background-color: #ebebeb;
}

.modal__container{
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--hue), 18%, 75%, .8);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all .3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;

  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content{
  position: relative;
  background-color: var(--container-color);
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all .3s;

  /*=== Effect 1 ===*/
  transform: translateY(10%);

  /*=== Effect 2 ===*/
  /* transform: scale(.5) translateY(10%); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(65deg) scale(.75) translateY(10%);
  transform-origin: 50% 100%; */
}

.modal__img{
  width: 150px;
  margin-bottom: .75rem;
}

.modal__close{
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: .25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__title{
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 500;
}

.modal__description{
  margin-bottom: 1.5rem;
  margin-top: -10px;
  color: #7d7d7d;
}

.modal__button-width{
  width: 90%;
}

.modal__button-link{
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: var(--first-color);
  font-weight: 500;
  cursor: pointer; border: none; outline: none;
}

/* Show modal */
.show-modal{
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content{
  /*=== Effect 1 ===*/
  transform: translateY(0);

  /*=== Effect 2 ===*/
  /* transform: scale(1) translateY(0); */

  /*=== Effect 3 ===*/
  /* transform: rotateX(0) scale(1) translateY(0); */
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 576px){
  .modal__content{
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .modal__img{
    width: 170px;
  }
}

.modal-main img {
width: 100%;
}